<mat-card class="no-out-footprint w-100">
  <mat-card-header>
    <mat-card-title>Time back</mat-card-title>
    <mat-card-subtitle> display result as is...</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content w-100>

    @if(!!htmlContentUrl) {
        <iframe style="opacity: 0.3;" [src]="htmlContentUrl" width="100%" ></iframe>
    }

  </mat-card-content>
  <mat-card-actions>
    <div class="spacer"></div>
    @if (isLoading()) {
      <app-loader ></app-loader>
    }
    <button class="ml-4" [disabled]="this.formGroup.invalid" color="accent" mat-button (click)="Refresh()">Refresh</button>
  </mat-card-actions>
</mat-card>
