
@use '@angular/material' as mat;
@use './custom-palettes' as customPalletes;

$primary: mat.define-palette(customPalletes.$custom-gray, 400, 200, 600);
$accent: mat.define-palette(customPalletes.$custom-blue, 400, 200, 600);
$warn: mat.define-palette(mat.$red-palette);


$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config( $font-family: 'Inter, sans-serif',),
  density: 0
));

