.notification-panel-error {
  --mdc-snackbar-container-color: #ffcdd2;
}

.notification-panel-info {
  --mdc-snackbar-container-color: #BBDEFB;
}

.notification-panel-succes {
  --mdc-snackbar-container-color: #C8E6C9;
}

.notification-panel-warn {
  --mdc-snackbar-container-color: #FFF9C4;
}
