  <mat-card class="no-out-footprint w-100">
    <mat-card-header>
      <mat-card-title>Count back</mat-card-title>
      <mat-card-subtitle>Difference with the first value (in legend)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content w-100>
      <div class="form-field-container mt-2 mb-2">
        <mat-form-field class="w-100" floatLabel="always" color="accent">
          <mat-label> Bars count </mat-label>
          <input [formControl]="controls.barsCount" matInput>
          <mat-hint align="end" class="helper-color-accent-400">required max. 50</mat-hint>
        </mat-form-field>
      </div>

      @if(displayData.labels!.length > 0) {
        <canvas class="w-100" baseChart [data]="displayData" [options]="chartOptions" type='bar'> </canvas>
      }
    </mat-card-content>
    <mat-card-actions>
      <div class="spacer"></div>
      @if (isLoading()) {
        <app-loader ></app-loader>
      }
      <button class="ml-4" [disabled]="this.formGroup.invalid" color="accent" mat-button (click)="Refresh()">Refresh</button>
    </mat-card-actions>
  </mat-card>

