<mat-grid-list  cols="12" [rowHeight]='headerHeght'>
  <mat-grid-tile  class="helper-bg-accent-50 flex-centered" colspan=12>
    <app-realtime class="h-100"></app-realtime>
  </mat-grid-tile>
</mat-grid-list>


<mat-grid-list gutterSize="2" cols="12" [rowHeight]="tileHeght">
  <mat-grid-tile  class="helper-bg-primary-50 mt-2" colspan=4>
    <app-count-back class="chart-container flex flex-column flex-centered"></app-count-back>
  </mat-grid-tile>
  <mat-grid-tile  class="helper-bg-primary-50 mt-2" colspan=4>
    <app-count-back class="chart-container flex flex-column flex-centered"></app-count-back>
  </mat-grid-tile>
  <mat-grid-tile  class="helper-bg-primary-50 mt-2" colspan=4>
    <app-count-back class="chart-container flex flex-column flex-centered"></app-count-back>
  </mat-grid-tile>

</mat-grid-list>
